###
# API keys
#
# These API keys are used in behat tests when creating new example files.
###

API_KEY_MYPARCEL=
API_KEY_BELGIE=

###
# Docker
# Default PHP version is 7.4 (set in docker-compose.yml).
# Change this to test on a different version, then run: docker compose build
###
PHP_VERSION=7.4
