.DS_Store
.phpunit.cache
.phpunit.result.cache
.yarn-*.log
composer.lock
clover.xml
pdk_ide_helper.php

.env.local

/.cache/
/.tmp/
/coverage/
/node_modules/
/vendor/
/types/

.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
