<span
  data-pdk-context="__CONTEXT__"
  id="__ID__"></span>
<script>
(function() {
  var queue = [];
  var rendered = false;

  function render(component, selector) {
    console.log('render', component, selector);
    window.MyParcelPdkAdmin.render(component, selector);
  }

  window.MyParcelPdkAdminRenderer = {
    render: function(component, selector) {
      if (rendered) {
        render(component, selector);
        return;
      }

      console.log('queue', component, selector);
      queue.push({ component: component, selector: selector });
    },
    flush: function() {
      if (rendered) {
        return;
      }

      rendered = true;

      console.log('flush');
      queue.forEach(function(item) {
        render(item.component, item.selector);
      });

      queue = [];
    },
  };
})();
</script>
