name: '♻️ Run unit tests'

on:
  workflow_call:

jobs:
  test-unit:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6

      - name: 'Handle coverage cache'
        uses: actions/cache@v5
        id: coverage-cache
        with:
          path: ./clover.xml
          key: coverage-clover-${{ vars.PHP_VERSION }}-${{ hashFiles('**/composer.lock', './src/**', './config/**', './tests/**', './.github/workflows/--test-unit.yml') }}

      - uses: ./.github/actions/setup
        if: steps.coverage-cache.outputs.cache-hit != 'true'
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          php-version: ${{ vars.PHP_VERSION }}

      - name: 'Run unit tests'
        if: steps.coverage-cache.outputs.cache-hit != 'true'
        shell: bash
        #language=bash
        run: |
          docker compose run php \
            php -dmemory_limit=512M -dpcov.enabled=1 \
            vendor/bin/pest \
              --colors=always \
              --coverage-clover=clover.xml \
              --no-interaction

          # Strip the /app/ prefix from the coverage paths before uploading.
          sed -i 's/\/app\///g' clover.xml

      - uses: codecov/codecov-action@v5
        continue-on-error: true
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
